.box {
  width: 200px;
  display: inline-block;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  padding: 40px;
}

.first {
  background: radial-gradient(30px at 0 0, #0000 98%, red) 0 0 /50% 50% no-repeat,
    radial-gradient(30px at 100% 0, #0000 98%, blue) 100% 0 /50% 50% no-repeat,
    radial-gradient(30px at 0 100%, #0000 98%, green) 0 100%/50% 50% no-repeat,
    radial-gradient(30px at 100% 100%, #0000 98%, purple) 100% 100%/50% 50%
      no-repeat;
}

.second {
  background: radial-gradient(30px at 0 0, #0000 98%, red) 0 0 /51% 51% no-repeat,
    radial-gradient(30px at 0 100%, #0000 98%, green) 0 100%/51% 51% no-repeat,
    radial-gradient(30px at 100% 100%, #0000 98%, purple) 100% 100%/51% 51%
      no-repeat;
}
.third {
  background: radial-gradient(30px at 0 0, #0000 98%, red) 0 0 /100% 51% no-repeat,
    radial-gradient(30px at 0 100%, #0000 98%, green) 0 100%/51% 51% no-repeat,
    radial-gradient(30px at 100% 100%, #0000 98%, purple) 100% 100%/51% 51%
      no-repeat;
}
.fourth {
  background: linear-gradient(45deg, red, blue);
  -webkit-mask: radial-gradient(30px at 0 0, #0000 98%, red) 0 0 /100% 51% no-repeat,
    radial-gradient(30px at 0 100%, #0000 98%, green) 0 100%/51% 51% no-repeat,
    radial-gradient(30px at 100% 100%, #0000 98%, purple) 100% 100%/51% 51%
      no-repeat;
}

/* 1 turn = 360deg */
.b5 {
  background: conic-gradient(
      #fff 0.25turn,
      #000 0.25turn 0.5turn,
      #fff 0.5turn 0.75turn,
      #000 0.75turn
    )
    top left / 20% 20% repeat;
  border: 1px solid;
}

.b6 {
  background: linear-gradient(45deg, blue, red);
  -webkit-mask: conic-gradient(#0000 25%, blue 0 50%, green 0 75%, purple 0),
    radial-gradient(30px, #0000 98%, #000) 10000% 10000%/99.5% 99.5%;
}

.box:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

.b7:before {
  background: radial-gradient(
      40px at 0 0,
      #0000 calc(100% - 10px),
      red calc(100% - 10px) 100%,
      #0000
    ),
    conic-gradient(from 180deg at right 10px top 10px, #0000 0 90deg, green 0)
      100% 0 / calc(100% - 40px + 10px) 100% no-repeat,
    conic-gradient(from 90deg at left 10px bottom 10px, blue 0 270deg, #0000 0)
      100% 100% / 100% calc(100% - 40px + 10px) no-repeat;
  /* conic-gradient(from 0deg at left 10px bottom 10px, #0000 0 90deg, blue 0) 0
      100%/100% calc(100% - 40px + 10px) no-repeat; */
}
.b8:before {
  --g: #0000 calc(98% - 10px), #000 calc(100% - 10px) 98%, #0000;
  --mask: radial-gradient(40px at 0 0, var(--g)),
    conic-gradient(from 180deg at right 10px top 10px, #0000 0 90deg, #000 0)
      100% 0 / calc(100% - 40px + 10px) 100% no-repeat,
    conic-gradient(from 0deg at left 10px bottom 10px, #0000 0 90deg, #000 0) 0
      100%/100% calc(100% - 40px + 10px) no-repeat;
  background: linear-gradient(45deg, blue, red);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

/* mask实现 */
.b9::before {
  --b: 4px; /* border */
  --s: 20px; /* size of the cut */
  background: linear-gradient(45deg, red, blue);
  --g1: #000 var(--b), #0000 0 calc(100% - var(--b)), #000 0;
  --g2: #0000 calc(0.707 * var(--s)), #000 0 calc(0.707 * var(--s) + var(--b)),
    #0000 0 calc(100% - 0.707 * var(--s) - var(--b)),
    #000 0 calc(100% - 0.707 * var(--s)), #0000 0;
  -webkit-mask: linear-gradient(45deg, var(--g2)),
    linear-gradient(-45deg, var(--g2)),
    linear-gradient(90deg, var(--g1)) 50%/100% calc(100% - 2 * var(--s))
      no-repeat,
    linear-gradient(180deg, var(--g1)) 50% / calc(100% - 2 * var(--s)) 100%
      no-repeat;
}

/* clip-path实现 */
.b10 {
  --s: 20px; /* size of the cut */
  --b: 4px;
  background: linear-gradient(45deg, red, blue);
  clip-path: polygon(
    var(--s) 0,
    calc(100% - var(--s)) 0,
    100% var(--s),
    100% calc(100% - var(--s)),
    calc(100% - var(--s)) 100%,
    var(--s) 100%,
    0 calc(100% - var(--s)),
    0 var(--s)
  );
}
.b10::before {
  --s: 20px; /* border */
  --ps: calc(var(--s) + var(--b) * cos(45deg) / 2);
  clip-path: polygon(
    var(--ps) var(--b),
    calc(100% - var(--ps)) var(--b),
    calc(100% - var(--b)) var(--ps),
    calc(100% - var(--b)) calc(100% - var(--ps)),
    calc(100% - var(--ps)) calc(100% - var(--b)),
    var(--ps) calc(100% - var(--b)),
    var(--b) calc(100% - var(--ps)),
    var(--b) var(--ps)
  );
  background-color: #fff;
}

/* mask实现 */
.b11::before {
  --b: 4px; /* border */
  --s: 20px; /* size of the cut */
  background: linear-gradient(red var(--s), blue 0);
  --g1: #000 var(--b), #0000 0 calc(100% - var(--b)), #000 0;
  --g2: #0000 calc(0.707 * var(--s)), #000 0 calc(0.707 * var(--s) + var(--b)),
    #0000 0 calc(100% - 0.707 * var(--s) - var(--b)),
    #000 0 calc(100% - 0.707 * var(--s)), #0000 0;
  -webkit-mask: linear-gradient(45deg, var(--g2)),
    linear-gradient(-45deg, var(--g2)),
    linear-gradient(90deg, var(--g1)) 50%/100% calc(100% - 2 * var(--s))
      no-repeat,
    linear-gradient(180deg, var(--g1)) 50% / calc(100% - 2 * var(--s)) 100%
      no-repeat;
}
